---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import TechArsenal from "../components/TechArsenal.astro";
import Journey from "../components/Journey.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Benjamin Teo - Full-Stack Engineer">
    <Navbar />
    <main>
        <Hero />
        <TechArsenal />
        <Journey />
        <Contact />
    </main>
</Layout>

<style>
    main {
        padding-top: 60px; /* Offset for fixed navbar */
    }
</style>
